#!/bin/bash

set -e -x

echo "Growing main partition"
growpart /dev/vda 1 || true
resize2fs /dev/vda1

export GH_TOKEN=$GH_TOKEN
export GH_OWNER=$GH_OWNER
export GH_REPOSITORY=$GH_REPOSITORY

echo "Fixing network"
dhclient

setupDocker () {
  sudo apt-get update
  for pkg in docker.io docker-doc docker-compose podman-docker containerd runc; do sudo apt-get remove -y $pkg; done

  sudo apt-get install -y ca-certificates curl gnupg

  sudo install -m 0755 -d /etc/apt/keyrings
  curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --batch --yes --dearmor -o /etc/apt/keyrings/docker.gpg
  sudo chmod a+r /etc/apt/keyrings/docker.gpg

  echo \
    "deb [arch="$(dpkg --print-architecture)" signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu \
    "$(. /etc/os-release && echo "$VERSION_CODENAME")" stable" | \
    sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

  sudo apt-get update
  sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
}

startRunner () {
  echo "Starting the runner"
  cd /docker-compose
  docker compose up --force-recreate --renew-anon-volumes --scale runner=$RUNNER_INSTANCES -d
}

setupDocker
startRunner
